.font-no-select {
    user-select: none;
    cursor: default;
}

/* Reenable text highlighting/selection*/
.font-allow-select {
    user-select: auto;
    cursor: auto;
}

body {
    background-color: #0b1419;
}

h1,h2,h3,h4,h5,h6 {
    color: #98cee8;
    border-color: #2d6edb;
}

div, p, code, pre {
    color: #d4e3ea;
    border-color: #98cee8;
}


button,.button {
    color: #d4e3ea;
    border-color: #d4e3ea;
}

input, textarea{
    color: darkslategray
}

.centered{
    width:95%; margin: auto;
}

textarea.pem-input{
    resize: vertical;
    font-family: 'Cascadia Code','Courier New', Courier, monospace;
    font-size: xx-small;
    min-height: 140px;
}

button:disabled, button:hover:disabled {
    color: #d4e3eac4;
    border-color: #d4e3eac4;
    background-color: rgba(250,250,250,.2)
}

button:hover, .button:hover, button:hover:focus {
    color: #98cee8;
    border-color: #98cee8;
}

button:active {
    background-color: rgba(200,200,250,.3)
}

button:focus, .button:focus {
    color: #d4e3ea;
    border-color: #d4e3ea;
}

code {
    background-color: darkslategray; 
    border: none;
}

div.hl-border-strong {
    padding-left: 15px; border-left: 3px solid #98cee8; border-radius: 3px;
}

div.hl-border-weak {
    padding-left:20px; border-left: 2px solid slategray; border-radius: 2px;
}

.color-pos {color: #00e676}
.color-neg {color: #ff5252}
.color-mid {color: #eeff41}
.font-sub {color: #78909c; font-size: 90%;}
/** Switch
 -------------------------------------*/

.switch input {
position: absolute;
opacity: 0;
width: 0;
}

/**
* 1. Adjust this to size
*/
div.switchBox { /* A div containing a switch and related text*/
    user-select: none;
    display: flex;
    justify-content: left;
    align-items: center;
    
}

div.switchBox > div { 
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    color: gray}

div.switchBox > div:first-of-type {
    text-align: right;
    width: 45%;
}

div.switchBox > div.checked {
    color: #98cee8;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

div.switchBox > div:not(.checked) {
    color: gray;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
} 

.switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 1em;
    width: 2em;
    background: #2d6edb;
    border-radius: 1em;
    cursor: pointer;
}

.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #98cee8;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.noselect {
    user-select: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    font-size: x-small;
    visibility: hidden;
    width: 180px;
    background-color: rgba(0,0,0,0.9);
    color: lightgray;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -90px;

    opacity: 0;
    transition: opacity .6s;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-13 13:1:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .text-focus{animation:focus-in-contract .6s cubic-bezier(.25,.46,.45,.94) both}
 .color-change{animation:color-change-2x .8s alternate both}
 
 @keyframes focus-in-contract{0%{letter-spacing:1em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
 @keyframes color-change-2x{0%{background-color: rgba(55,55,65,1);}100%{background:rgba(55,55,65,.5)}}
